# configure

Doxyfile
htdocs
Makefile
config.guess
config.log
config.status
config.sub


# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
gitdescribe

# build process
jaastool-1.0.tar.bz2
jaastool-1.0.tar.gz
jaastool.spec
java/JaasNoFile.java
java/classjava.stamp
tests-autotest/package.m4
tests-autotest/testsuite.log
